# DB
db.uri=jdbc:mysql://localhost/waketi
db.user=root
db.password=

# set path to settings
com.pokosho.repstr=/Users/kaiba/program/waketi/conf/repstr.txt
com.pokosho.cleaning=/Users/kaiba/program/waketi/conf/cleaning.txt
com.pokosho.spamwords=/Users/kaiba/program/waketi/conf/spam_words.txt
com.pokosho.user_dictionary=/Users/kaiba/program/waketi/conf/custom_dic.txt

# max count of word's chain
com.pokosho.chain_count_down=30
com.pokosho.max_reply_count=200
# interval of reply target, when waketi replies.
# 60 * 60 * 24 * 3 = 259200
com.pokosho.max_reply_interval_sec=259200
com.pokosho.not_teacher=/Users/kaiba/program/waketi/conf/not_teacher.txt

# your consumer key/sec
twitter.consumer.key=a
twitter.consumer.secret=a
twitter.access.token=a
twitter.access.secret=a
