<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<!-- ファイル名 -->
		<file>debug.log</file>
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date{MM/dd hh:mm:ss:SSS} %logger{0} %-5.5level
				%-20.20method %-4.4line %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- logを標準出力に出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<!-- ターゲットを標準出力へ -->
		<Target>System.out</Target>

		<!-- パターンレイアウト -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date{MM/dd hh:mm:ss:SSS} %logger{0} %-5.5level
				%-20.20method %-4.4line %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- ログ出力に関する設定 -->
	<root>
		<!-- 出力するレベルを設定 -->
		<level value="debug" />

		<!-- アペンダを設定 -->
		<appender-ref ref="FILE" />
		<!--
		<appender-ref ref="STDOUT" />
		 -->
	</root>

</configuration>